.App {
  text-align: center;
}
.img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.c-player--controls .play-btn {
  margin: -5px 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}
.c-player--audio {
  margin-top: 5px;
  margin-bottom: 5px;
  outline-width: 0;
  opacity: 0.4;
}

.c-player--controls .skip-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #888;
  font-size: 18px;
}
.para{
  margin-top: -5px;
}